/* Import Sarabun font */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600&display=swap');

@layer utilities {
  .shadow-custom {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
  .bg-Green {
    background-color: #827127;
  }
  .text-Green {
    color: #827127;  /* For text color */
  }
  .font-sarabun {
    font-family: 'Sarabun', sans-serif;
  }
}
